.DS_Store
__pycache__/

vendor/
!public/js/vendor/
!public/js/vendor/**
.phpunit.result.cache

.env
data/logo-*.png
data/logo-*.webp
data/admin_password.txt
data/page-seo.json
data/redirects.json
data/sessions/
resources/fonts/*.ttf

data/config.json
data-default/config.json
data/uploads/**
!data/uploads/.gitkeep
