parameters:
  level: 4
  paths:
    - src
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    - '#Call to function is_callable.+will always evaluate to true#'
    - '#Method App\\Service\\AwardService::join\(\) is unused#'
    - '#on left side of \?\? always exists and is not nullable#'
