{% extends 'layout.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ basePath }}/css/landing.css">
{% endblock %}

{% block body_class %}qr-landing marketing-page uk-background-default{% endblock %}

{% block body %}
  <div class="uk-container">
    <main
      class="qr-page-renderer"
      id="page-render-target"
      aria-label="Page content"
    >
    </main>
  </div>
{% endblock %}
