{% extends 'layouts/app_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_theme %}
  {% set namespaceThemeRaw = config.startTheme|default(null) %}
  {{ namespaceThemeRaw is same as(null)
    ? 'light'
    : (namespaceThemeRaw|lower == 'dark' ? 'dark' : 'light')
  }}
{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  <div class="uk-container">
    <main
      class="qr-page-renderer"
      id="page-render-target"
      aria-label="Page content"
    >
    </main>
  </div>
{% endblock %}
