{% extends 'layouts/app_base.twig' %}

{% set normalizedNamespace = pageNamespace|default('default') %}
{% set pageTitle = metaTitle|default('') %}

{% block title %}{{ pageTitle|default('QuizRace') }}{% endblock %}

{% block body_theme %}
  {% set namespaceThemeRaw = config.startTheme|default(null) %}
  {{ namespaceThemeRaw is same as(null)
    ? 'light'
    : (namespaceThemeRaw|lower == 'dark' ? 'dark' : 'light')
  }}
{% endblock %}

{% block head %}
  {% set namespaceTokensQuery = namespaceTokensVersion|default('now'|date('U')) %}
  <link rel="stylesheet" href="{{ basePath }}/css/namespace-tokens.css?v={{ namespaceTokensQuery }}">
  {% include 'components/namespace_appearance_styles.twig' with {
    appearance: appearance is defined ? appearance : (design.appearance ?? null),
    namespace: normalizedNamespace
  } %}
{% endblock %}

{% block body_class %}page-render uk-background-default{% endblock %}

{% block body %}
  <div class="uk-container">
    <main
      class="qr-page-renderer"
      id="page-render-target"
      aria-label="Page content"
    >
    </main>
  </div>
{% endblock %}
