{% extends 'admin/base.twig' %}
{% set includeMarketingThemeVars = true %}

{% block title %}{{ t('tab_project_overview') }}{% endblock %}

{% block content %}
  <div class="uk-container uk-container-large">
    <h2 class="uk-heading-bullet">Namespace-Übersicht</h2>
  </div>
  <div class="uk-container uk-container-large">
    {% set projectKpis = [
      { key: 'pages', label: 'Seiten' },
      { key: 'wiki', label: 'Wiki-Artikel' },
      { key: 'news', label: 'News-Artikel' },
      { key: 'newsletter', label: 'Newsletter-Slugs' },
      { key: 'media', label: 'Medien-Refs' }
    ] %}
    <div
      class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-5@m uk-margin"
      uk-grid
      data-project-kpis
    >
      {% for kpi in projectKpis %}
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-text-center">
            <div class="uk-text-large uk-text-bold" data-project-kpi="{{ kpi.key }}">0</div>
            <div class="uk-text-meta">{{ kpi.label }}</div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include 'admin/components/project_tree.twig' %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ basePath }}/js/admin.js"></script>
{% endblock %}
