{% set activeNamespace = pageNamespace|default('default') %}

{% if activeNamespace is not empty %}
  <div class="uk-text-small uk-text-muted">
    <ul class="uk-breadcrumb uk-margin-remove">
      <li><span>{{ t('label_project_namespace') }}</span></li>
      <li><span class="uk-text-bold">{{ activeNamespace }}</span></li>
    </ul>
  </div>
{% endif %}
