{% extends 'emails/layout.twig' %}

{% block content %}
<p>Hallo,</p>
<p>bitte bestätige deine E-Mail-Adresse durch Klick auf den folgenden Link:</p>
<p>
  <a
    href="{{ link }}"
    style="display:inline-block;background-color:#1a73e8;color:#ffffff;padding:10px 20px;border-radius:4px;text-decoration:none;"
  >E-Mail-Adresse bestätigen</a>
</p>
<p><a href="{{ link }}" style="color:#1a73e8;">{{ link }}</a></p>
<p>Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.</p>
{% endblock %}
