{% extends 'emails/layout.twig' %}

{% block content %}
<p>Hallo {{ name }},</p>
<p>du bist eingeladen, bei QuizRace mitzumachen. Klicke auf den folgenden Link, um dich zu registrieren:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
{% endblock %}
