{% extends 'emails/layout.twig' %}

{% block content %}
<p>Hallo,</p>
<p>zum Zurücksetzen deines Passworts klicke auf den folgenden Link:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.</p>
{% endblock %}
