<p>Hallo,</p>
<p>Ihr QuizRace wurde unter <a href="https://{{ domain }}">{{ domain }}</a> eingerichtet.</p>
<p>Zum Administrationsbereich gelangen Sie über folgenden Link:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
