<p>Hallo,</p>
<p>Ihr QuizRace wurde unter <a href="https://{{ domain }}">{{ domain }}</a> eingerichtet.</p>
<p>Setzen Sie Ihr Admin-Passwort über folgenden Link und greifen Sie anschließend direkt auf den Administrationsbereich zu:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
