<p>Hallo,</p>
<p>Ihr QuizRace wurde unter <a href="https://{{ domain }}">{{ domain }}</a> eingerichtet.</p>
<p>Zum Setzen des Admin-Passworts klicken Sie bitte auf folgenden Link:</p>
<p><a href="{{ link }}">{{ link }}</a></p>
<p>Viel Erfolg!</p>
