<ul class="uk-nav uk-nav-default">
  <li>
    <a class="theme-toggle" href="#">{{ t('design_toggle') }}</a>
  </li>
  <li>
    <a class="contrast-toggle" href="#">{{ t('contrast_toggle') }}</a>
  </li>
  <li>
    <a href="{{ basePath }}/faq">{{ t('help') }}</a>
  </li>
</ul>
