{% extends 'layout.twig' %}

{% block title %}Modernes Quiz mit UIkit{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block body_class %}index-page uk-padding uk-flex uk-flex-center{% endblock %}

{% block body %}
  <nav class="uk-navbar-container topbar" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <div class="theme-switch">
          <input type="checkbox" id="theme-toggle" aria-label="Design wechseln">
          <label for="theme-toggle" class="theme-switch-label">Design wechseln</label>
        </div>
      </div>
    </div>
    <div class="uk-navbar-center">
      <div class="uk-navbar-item">
        <span class="uk-navbar-title">Sommerfest 2025</span>
      </div>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <a href="/faq" class="uk-icon-button" uk-icon="question" title="Hilfe" aria-label="Hilfe"></a>
      </div>
    </div>
  </nav>
  <div class="nav-placeholder"></div>
  <div class="uk-container uk-width-1-1 uk-width-1-2@s uk-width-2-3@m">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-margin">
      <div id="quiz-header" class="uk-text-center uk-margin"></div>
      <progress id="progress" class="uk-progress" value="0" max="1" aria-label="Fortschritt"></progress>
      <div id="quiz"></div>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin">
      <h3 class="uk-heading-bullet">Informationen zur Quiz-Anwendung</h3>
      <p>Dieses Tool ist ein reiner Prototyp, der zu 100% mit Codex von OpenAI umgesetzt wurde. Die Arbeit diente ausschließlich der Erprobung des Coding-Assistenten und seiner Möglichkeiten.</p>
      <p>Der Quellcode befindet sich auf GitHub: <a href="https://github.com/bastelix/sommerfest-quiz">https://github.com/bastelix/sommerfest-quiz</a>.</p>
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Der Code steht unter der MIT-Lizenz. Siehe die Datei <code>LICENSE</code> f&uuml;r Details.</a>
          <div class="uk-accordion-content">
            <pre><code>MIT License

Copyright (c) 2025 calhelp

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"),
to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</code></pre>
          </div>
        </li>
      </ul>
      <p><strong>Datenschutz:</strong> Das Quiz l&auml;uft komplett im Browser und speichert Ergebnisse nur lokal im <code>localStorage</code>. Es werden keine personenbezogenen Daten an einen Server &uuml;bertragen. Beim Export der Datei <code>statistical.log</code> werden lediglich Pseudonyme und Punktzahlen gespeichert.</p>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/uikit-icons.min.js"></script>
  <script src="https://unpkg.com/html5-qrcode@2.3.7/html5-qrcode.min.js"></script>
  <script src="/js/config.js"></script>
  <script id="catalogs-data" type="application/json">
    [
      {
        "id": "station_1",
        "file": "station_1.json",
        "name": "Station-1",
        "description": "Speicher und Geraete"
      },
      {
        "id": "station_2",
        "file": "station_2.json",
        "name": "Station-2",
        "description": "Bedienung und Symbole"
      },
      {
        "id": "station_3",
        "file": "station_3.json",
        "name": "Station-3",
        "description": "WWW und Speicherarten"
      },
      {
        "id": "station_4",
        "file": "station_4.json",
        "name": "Station-4",
        "description": "Begriffe und Geraetegroessen"
      },
      {
        "id": "station_5",
        "file": "station_5.json",
        "name": "Station-5",
        "description": "Programme und Binaersystem"
      },
      {
        "id": "station_6",
        "file": "station_6.json",
        "name": "Station-6",
        "description": "Dateien und URLs"
      },
      {
        "id": "station_7",
        "file": "station_7.json",
        "name": "Station-7",
        "description": "Netzwerke und Kuerzel"
      },
      {
        "id": "station_8",
        "file": "station_8.json",
        "name": "Station-8",
        "description": "Cloud und Steuerung"
      }
    ]
  </script>
  <script src="/js/catalog.js"></script>
  <script src="/js/confetti.js"></script>
  <script src="/js/quiz.js"></script>
  <script src="/js/app.js"></script>
{% endblock %}
