<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Quiz{% endblock %}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="css/uikit.min.css">
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
  <div class="footer-placeholder"></div>
  <nav class="uk-navbar-container bottombar" uk-navbar>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li><a href="/datenschutz">Datenschutz</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/lizenz">Lizenz</a></li>
      </ul>
    </div>
  </nav>
  <script src="js/uikit.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
