{% extends 'layout.twig' %}

{% block title %}Admin Login{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="/faq" class="uk-icon-button" uk-icon="icon: question; ratio: 2" title="Hilfe" aria-label="Hilfe"></a>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
    {% endblock %}
  {% endembed %}
<div class="uk-width-1-1">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
      <div class="uk-width-1-1@m">
        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
          <h3 class="uk-card-title uk-text-center">Admin Login</h3>
          {% if error %}
          <div class="uk-alert-danger" uk-alert>
            <p>Benutzername oder Passwort falsch.</p>
          </div>
          {% endif %}
          <form method="post" action="/login">
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-large" type="text" name="username" id="username" placeholder="Benutzername" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input uk-form-large" type="password" name="password" id="password" placeholder="Passwort" required>
              </div>
            </div>
            <div class="uk-margin">
              <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/js/uikit-icons.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/custom-icons.js"></script>
{% endblock %}
