{% extends 'layout.twig' %}

{% block title %}Auswertung{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/highcontrast.css">
{% endblock %}

{% block body_class %}uk-padding{% endblock %}

{% block body %}
  {% embed 'topbar.twig' %}
    {% block left %}
      <a href="/faq" class="uk-icon-button" uk-icon="icon: question; ratio: 2" title="Hilfe" aria-label="Hilfe"></a>
    {% endblock %}
    {% block center %}
      <span class="uk-navbar-title">{{ config.header|default('Sommerfest 2025') }}</span>
    {% endblock %}
    {% block right %}
      <div class="theme-switch">
        <button id="theme-toggle" class="uk-icon-button" uk-icon="icon: moon; ratio: 2" aria-label="Design wechseln"></button>
      </div>
      <div class="contrast-switch uk-margin-small-left">
        <button id="contrast-toggle" class="uk-icon-button" uk-icon="icon: paint-bucket; ratio: 2" aria-label="Kontrastmodus"></button>
      </div>
    {% endblock %}
  {% endembed %}
  <div class="uk-container uk-container-small uk-text-center">
    <h2 class="uk-heading-bullet uk-margin-small-top">Herzlichen Glückwunsch, es wurden alle Kataloge gelöst!</h2>
    <button id="show-results-btn" class="uk-button uk-button-primary uk-margin-top">Ergebnisse anzeigen</button>
    {% if config.photoUpload is not defined or config.photoUpload %}
    <button id="upload-photo-btn" class="uk-button uk-button-primary uk-margin-top">Beweisfoto einreichen</button>
    {% endif %}
    {% if config.puzzleWordEnabled %}
    <button id="check-puzzle-btn" class="uk-button uk-button-primary uk-margin-top">Rätselwort prüfen</button>
    <p id="puzzle-solved-text" class="uk-margin-top"></p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/uikit-icons.min.js"></script>
  <script src="/js/custom-icons.js"></script>
  <script src="/js/app.js"></script>
  <script>
    window.quizConfig = {{ config|json_encode|raw }};
  </script>
  <script src="/js/summary.js"></script>
{% endblock %}
