<nav class="uk-navbar-container uk-padding-small topbar" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item">
      {% block left %}{% endblock %}
    </div>
  </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      {% block center %}{% endblock %}
    </div>
  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      {% block right %}{% endblock %}
    </div>
  </div>
</nav>
<div class="nav-placeholder"></div>
