<nav class="uk-navbar-container uk-padding-small topbar" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item">
      {% block left %}{% endblock %}
    </div>
  </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      {% block center %}{% endblock %}
    </div>
    <ul class="uk-navbar-nav uk-visible@m">
      <li><a href="#features">Features</a></li>
      <li><a href="{{ basePath }}/pricing">Preise</a></li>
      <li><a href="#contact">Kontakt</a></li>
      <li><a href="{{ basePath }}/login">Login</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      {% block right %}
        <a class="uk-button uk-button-primary" href="{{ basePath }}/login">Kostenlos testen</a>
      {% endblock %}
    </div>
  </div>
</nav>
{% block headerbar %}{% endblock %}
<div class="nav-placeholder"></div>
