<nav class="uk-navbar-container uk-padding-small topbar" uk-navbar>
  <div class="uk-navbar-left">
    {% block mobile_menu_toggle %}
    <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-nav" uk-toggle>
      <span uk-navbar-toggle-icon></span>
    </a>
    {% endblock %}
    <div class="uk-navbar-item">
      {% block left %}{% endblock %}
    </div>
  </div>
  <div class="uk-navbar-center">
    <div class="uk-navbar-item">
      {% block center %}{% endblock %}
    </div>
  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      {% block right %}{% endblock %}
    </div>
  </div>
</nav>
{% block offcanvas %}
<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default">
      <li><a href="#features">Features</a></li>
      <li><a href="{{ basePath }}/pricing">Preise</a></li>
      <li><a href="#contact">Kontakt</a></li>
      <li><a href="{{ basePath }}/login">Login</a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block headerbar %}{% endblock %}
<div class="nav-placeholder"></div>
