{% set resolvedDesign = design|default(renderContext.design|default({})) %}
{% set appearanceData = appearance|default(resolvedDesign.appearance|default({})) %}
{% set designConfig = resolvedDesign.config|default({}) %}

<div
  id="marketing-design-data"
  data-appearance="{{ appearanceData|json_encode|e('html_attr') }}"
  data-config="{{ designConfig|json_encode|e('html_attr') }}"
  hidden
></div>
