{% macro qr_table(headings, body_id, sortable=true) %}
<div class="uk-overflow-auto qr-table-wrap uk-visible@m">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover qr-table">
        <thead class="table-headings">
            <tr>
            {% for heading in headings %}
                <th scope="col"{% if heading.class is defined and heading.class %} class="{{ heading.class }}"{% endif %}>{{ heading.label }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody id="{{ body_id }}" role="rowgroup"{% if sortable %} uk-sortable="handle: .qr-handle; group: sortable-group"{% endif %}></tbody>
    </table>
</div>
{% endmacro %}

{% macro qr_rowcards(list_id) %}
<ul class="uk-hidden@m uk-list" id="{{ list_id }}"></ul>
{% endmacro %}
